.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add padding to the top of the main content */
.content {
  padding-top: 70px; /* Adjust this value based on the height of your navbar */
}

.internet-connection-toast {
  background-color: #ef4444 !important;
  color: white !important;
  font-weight: 500;
  padding: 16px 24px !important;
  border-radius: 8px !important;
}

.internet-connection-toast > svg {
  margin-right: 8px;
}

