body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Skeleton loading animation */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.sticky-tbl-header {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensures the header stays on top of content */
  }

  .sticky-tbl-footer {
    position: sticky;
    bottom: 0;
    z-index: 1; /* Ensures the footer stays on top of content */
  }